USE [master]
GO
/****** Object:  Database [HospitalManagementSystem]    Script Date: 3/27/2026 7:08:06 PM ******/
CREATE DATABASE [HospitalManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagementSystem', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalManagementSystem_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagementSystem]
GO
/****** Object:  Table [dbo].[AMBULANCE]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMBULANCE](
	[ambulance_id] [int] IDENTITY(1,1) NOT NULL,
	[ambulance_number] [varchar](10) NULL,
	[availability] [varchar](15) NULL,
	[driver_id] [int] NULL,
	[last_service_date] [date] NULL,
 CONSTRAINT [PK_Ambulance] PRIMARY KEY CLUSTERED 
(
	[ambulance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ambulance_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ambulance_Log]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambulance_Log](
	[Amb_log_id] [int] IDENTITY(1,1) NOT NULL,
	[ambulance_id] [int] NULL,
	[patient_id] [int] NULL,
	[pickup_location] [varchar](100) NULL,
	[dropoff_location] [varchar](100) NULL,
	[pickup_time] [datetime] NULL,
	[dropoff_time] [datetime] NULL,
	[status] [varchar](15) NULL,
 CONSTRAINT [PK_Amb_log] PRIMARY KEY CLUSTERED 
(
	[Amb_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTS](
	[Appointment_ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Doctor_ID] [int] NULL,
	[Receptionist_ID] [int] NULL,
	[Register_DateTime] [datetime] NULL,
	[Appointment_DateTime] [datetime] NULL,
	[Appointment_status] [varchar](50) NULL,
	[CheckInTime] [datetime] NULL,
	[Visit_Reason] [varchar](50) NULL,
 CONSTRAINT [PK_Appointment_ID] PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_ID] [int] NOT NULL,
	[CheckInTime] [datetime] NULL,
	[CheckoutTime] [datetime] NULL,
 CONSTRAINT [PK_LogID] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLING_STAFF]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLING_STAFF](
	[B_Staff_ID] [int] NOT NULL,
	[drawer_id] [int] NULL,
	[available_schedule] [varchar](200) NULL,
	[Authority_Limit] [decimal](10, 2) NULL,
 CONSTRAINT [PK_B_Staff_ID] PRIMARY KEY CLUSTERED 
(
	[B_Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blood_Bank]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blood_Bank](
	[Blood_id] [int] IDENTITY(1,1) NOT NULL,
	[Blood_type] [varchar](3) NULL,
	[Stock_quantity] [int] NULL,
	[Last_updated] [date] NULL,
 CONSTRAINT [PK_Blood_Bank] PRIMARY KEY CLUSTERED 
(
	[Blood_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[Department_ID] [varchar](10) NOT NULL,
	[department_name] [varchar](50) NOT NULL,
	[location] [varchar](100) NOT NULL,
	[Dep_Head_ID] [int] NULL,
	[D_Budget] [float] NOT NULL,
	[D_Expenses] [float] NULL,
	[D_Revenue] [float] NULL,
 CONSTRAINT [PK_Department_ID] PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORS](
	[Dr_ID] [int] NOT NULL,
	[specialty] [varchar](100) NOT NULL,
	[License_num] [int] NOT NULL,
	[Years_of_Experience] [int] NOT NULL,
	[Consultation_fee] [float] NULL,
	[available_schedule] [varchar](200) NULL,
 CONSTRAINT [PK_Dr_ID] PRIMARY KEY CLUSTERED 
(
	[Dr_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[Emp_ID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FullName]  AS (([FirstName]+' ')+[LastName]),
	[E_gender] [char](1) NULL,
	[E_DOB] [date] NOT NULL,
	[E_Age]  AS (datediff(year,[E_DOB],getdate())),
	[Hire_Date] [date] NOT NULL,
	[Emp_Email] [varchar](100) NOT NULL,
	[Emp_Phone] [varchar](20) NOT NULL,
	[Emp_Address] [varchar](200) NULL,
	[ContactInfo]  AS (((([Emp_Email]+' | ')+[Emp_Phone])+' | ')+[Emp_Address]),
	[Role_Type] [varchar](20) NOT NULL,
	[Dep_Id] [varchar](10) NULL,
	[No_Of_Shifts] [int] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Emp_ID] PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Emp_Email] UNIQUE NONCLUSTERED 
(
	[Emp_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Emp_Phone] UNIQUE NONCLUSTERED 
(
	[Emp_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital_Transactions_Log]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital_Transactions_Log](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_type] [varchar](50) NULL,
	[PatientID] [int] NOT NULL,
	[Room_ID] [varchar](10) NULL,
	[Employee_ID] [int] NOT NULL,
	[Event_Timestamp] [datetime] NULL,
	[Details] [varchar](200) NULL,
 CONSTRAINT [PK_transaction_id] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[Invoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [int] NULL,
	[Billingstaff_ID] [int] NULL,
	[App_ID] [int] NULL,
	[Invoice_date] [datetime] NULL,
	[Paymentmethod] [varchar](50) NULL,
	[Total_Amount] [decimal](12, 2) NULL,
	[Insurance_Coverage] [decimal](10, 2) NULL,
	[Paid_Amount] [decimal](12, 2) NULL,
	[outstanding_Amount]  AS (([Total_Amount]-[Insurance_Coverage])-[Paid_Amount]),
	[Payment_status] [nvarchar](255) NULL,
	[Correctionlog] [bit] NULL,
 CONSTRAINT [PK_Invoice_ID] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Tests]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[Tech_ID] [int] NULL,
	[AppID] [int] NOT NULL,
	[Test_Name] [varchar](100) NULL,
	[order_date_time] [datetime] NULL,
	[Result_date_Time] [datetime] NULL,
	[Normal_range] [varchar](50) NULL,
	[Test_Result] [varchar](50) NULL,
	[Re_test_Required] [bit] NULL,
 CONSTRAINT [PK_TestID] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Records]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Records](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NOT NULL,
	[Diagnosis] [varchar](200) NULL,
	[presc_id] [int] NULL,
 CONSTRAINT [PK_RecordID] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE](
	[Medicine_ID] [int] IDENTITY(1,1) NOT NULL,
	[Med_name] [varchar](100) NOT NULL,
	[brand] [varchar](50) NULL,
	[type] [varchar](20) NULL,
	[dosage] [varchar](50) NULL,
	[stock_quantity] [int] NULL,
	[expiry_date] [date] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_medicine] PRIMARY KEY CLUSTERED 
(
	[Medicine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NURSES]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NURSES](
	[N_ID] [int] NOT NULL,
	[available_schedule] [varchar](200) NULL,
 CONSTRAINT [PK_N_ID] PRIMARY KEY CLUSTERED 
(
	[N_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT_FEEDBACK]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_FEEDBACK](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NOT NULL,
	[Satisfaction_rating] [int] NULL,
	[Comments] [varchar](200) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC,
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTS](
	[Patient_ID] [int] NOT NULL,
	[First_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NOT NULL,
	[FullName]  AS (([First_name]+' ')+[Last_name]),
	[P_DOB] [date] NOT NULL,
	[P_Age]  AS (datediff(year,[P_DOB],getdate())),
	[P_gender] [char](1) NULL,
	[P_phone] [varchar](15) NULL,
	[P_Address] [nvarchar](255) NULL,
	[P_Email] [varchar](100) NULL,
	[ContactInfo]  AS (((([P_Email]+' | ')+[P_Phone])+' | ')+[P_Address]),
	[P_medical_history] [varchar](200) NULL,
	[Family_medical_history] [varchar](200) NULL,
	[insurance_num] [varchar](50) NULL,
	[insurance_provider] [varchar](100) NULL,
	[satisfaction_rate] [varchar](10) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Patient_ID] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHARMACY]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHARMACY](
	[pharmacy_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NULL,
	[patient_id] [int] NULL,
	[quantity] [int] NULL,
	[Presc_Id] [int] NULL,
	[prescription_date] [date] NULL,
 CONSTRAINT [PK_pharmacy] PRIMARY KEY CLUSTERED 
(
	[pharmacy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[prescription_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NULL,
	[prescription_date] [date] NULL,
	[medication_name] [varchar](100) NULL,
	[dosage] [varchar](100) NULL,
	[frequency] [varchar](50) NULL,
	[duration] [varchar](50) NULL,
	[notes] [varchar](255) NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEPTIONIST]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEPTIONIST](
	[Recep_ID] [int] NOT NULL,
	[available_schedule] [varchar](200) NULL,
	[Years_of_experience] [float] NULL,
 CONSTRAINT [PK_Recep_ID] PRIMARY KEY CLUSTERED 
(
	[Recep_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Role_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Assignments]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Assignments](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[R_id] [varchar](10) NULL,
	[Employee_ID] [int] NULL,
	[patient_id] [int] NULL,
	[assignment_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_assignment_id] PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[Room_ID] [varchar](10) NOT NULL,
	[Room_Type] [varchar](100) NOT NULL,
	[capacity] [int] NULL,
	[status] [varchar](20) NULL,
	[last_serviced] [date] NULL,
 CONSTRAINT [PK_Room_ID] PRIMARY KEY CLUSTERED 
(
	[Room_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECHNICIANS]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNICIANS](
	[T_ID] [int] NOT NULL,
	[lab_specialization] [varchar](100) NULL,
	[lab_access_level] [varchar](50) NULL,
	[available_schedule] [varchar](200) NULL,
 CONSTRAINT [PK_T_ID] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT](
	[TTT_ID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [int] NOT NULL,
	[TTT_Date] [date] NULL,
	[TTT_type] [varchar](100) NULL,
	[Descrip] [varchar](100) NULL,
	[Cost] [decimal](10, 2) NULL,
 CONSTRAINT [PK_TreatmentID] PRIMARY KEY CLUSTERED 
(
	[TTT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/27/2026 7:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Employee_ID] [int] NULL,
	[Patient_ID] [int] NULL,
	[IsActive] [bit] NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log] ADD  DEFAULT (getdate()) FOR [Event_Timestamp]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT ((0)) FOR [Correctionlog]
GO
ALTER TABLE [dbo].[Lab_Tests] ADD  DEFAULT (getdate()) FOR [order_date_time]
GO
ALTER TABLE [dbo].[MEDICINE] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PATIENTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT (getdate()) FOR [prescription_date]
GO
ALTER TABLE [dbo].[Room_Assignments] ADD  DEFAULT (getdate()) FOR [assignment_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[AMBULANCE]  WITH CHECK ADD  CONSTRAINT [FK_driver_id] FOREIGN KEY([driver_id])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AMBULANCE] CHECK CONSTRAINT [FK_driver_id]
GO
ALTER TABLE [dbo].[Ambulance_Log]  WITH CHECK ADD  CONSTRAINT [FK_Amb_LOG_Amb] FOREIGN KEY([ambulance_id])
REFERENCES [dbo].[AMBULANCE] ([ambulance_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ambulance_Log] CHECK CONSTRAINT [FK_Amb_LOG_Amb]
GO
ALTER TABLE [dbo].[Ambulance_Log]  WITH CHECK ADD  CONSTRAINT [FK_Amb_log_Pat] FOREIGN KEY([patient_id])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ambulance_Log] CHECK CONSTRAINT [FK_Amb_log_Pat]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[DOCTORS] ([Dr_ID])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Receptionist] FOREIGN KEY([Receptionist_ID])
REFERENCES [dbo].[RECEPTIONIST] ([Recep_ID])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_Appointment_Receptionist]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[BILLING_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_B_Staff_ID] FOREIGN KEY([B_Staff_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLING_STAFF] CHECK CONSTRAINT [FK_B_Staff_ID]
GO
ALTER TABLE [dbo].[DOCTORS]  WITH CHECK ADD  CONSTRAINT [FK_Dr_ID] FOREIGN KEY([Dr_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCTORS] CHECK CONSTRAINT [FK_Dr_ID]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_Dep_Id] FOREIGN KEY([Dep_Id])
REFERENCES [dbo].[DEPARTMENTS] ([Department_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_Dep_Id]
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log]  WITH CHECK ADD  CONSTRAINT [FK_Trans_Emp] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log] CHECK CONSTRAINT [FK_Trans_Emp]
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log]  WITH CHECK ADD  CONSTRAINT [FK_Trans_patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log] CHECK CONSTRAINT [FK_Trans_patient]
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log]  WITH CHECK ADD  CONSTRAINT [FK_Trans_Room] FOREIGN KEY([Room_ID])
REFERENCES [dbo].[ROOMS] ([Room_ID])
GO
ALTER TABLE [dbo].[Hospital_Transactions_Log] CHECK CONSTRAINT [FK_Trans_Room]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_App_ID] FOREIGN KEY([App_ID])
REFERENCES [dbo].[APPOINTMENTS] ([Appointment_ID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_App_ID]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_BillingStaff] FOREIGN KEY([Billingstaff_ID])
REFERENCES [dbo].[BILLING_STAFF] ([B_Staff_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_Invoice_BillingStaff]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Patient] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_Invoice_Patient]
GO
ALTER TABLE [dbo].[Lab_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Test_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[APPOINTMENTS] ([Appointment_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lab_Tests] CHECK CONSTRAINT [FK_Test_App]
GO
ALTER TABLE [dbo].[Lab_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Test_Tech] FOREIGN KEY([Tech_ID])
REFERENCES [dbo].[TECHNICIANS] ([T_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Lab_Tests] CHECK CONSTRAINT [FK_Test_Tech]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Record_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[APPOINTMENTS] ([Appointment_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Record_App]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Record_Prescription] FOREIGN KEY([presc_id])
REFERENCES [dbo].[Prescription] ([prescription_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Record_Prescription]
GO
ALTER TABLE [dbo].[NURSES]  WITH CHECK ADD  CONSTRAINT [FK_N_ID] FOREIGN KEY([N_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NURSES] CHECK CONSTRAINT [FK_N_ID]
GO
ALTER TABLE [dbo].[PHARMACY]  WITH CHECK ADD  CONSTRAINT [FK_PH_Medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[MEDICINE] ([Medicine_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHARMACY] CHECK CONSTRAINT [FK_PH_Medicine]
GO
ALTER TABLE [dbo].[PHARMACY]  WITH CHECK ADD  CONSTRAINT [FK_PH_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHARMACY] CHECK CONSTRAINT [FK_PH_Patient]
GO
ALTER TABLE [dbo].[PHARMACY]  WITH CHECK ADD  CONSTRAINT [FK_PH_Prescription] FOREIGN KEY([Presc_Id])
REFERENCES [dbo].[Prescription] ([prescription_id])
GO
ALTER TABLE [dbo].[PHARMACY] CHECK CONSTRAINT [FK_PH_Prescription]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_dr] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[DOCTORS] ([Dr_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_dr]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_patient]
GO
ALTER TABLE [dbo].[RECEPTIONIST]  WITH CHECK ADD  CONSTRAINT [FK_Recep_ID] FOREIGN KEY([Recep_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECEPTIONIST] CHECK CONSTRAINT [FK_Recep_ID]
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Ass_Emp] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [FK_Ass_Emp]
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Ass_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [FK_Ass_Patient]
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Ass_Room] FOREIGN KEY([R_id])
REFERENCES [dbo].[ROOMS] ([Room_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [FK_Ass_Room]
GO
ALTER TABLE [dbo].[TECHNICIANS]  WITH CHECK ADD  CONSTRAINT [FK_T_ID] FOREIGN KEY([T_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TECHNICIANS] CHECK CONSTRAINT [FK_T_ID]
GO
ALTER TABLE [dbo].[TREATMENT]  WITH CHECK ADD  CONSTRAINT [FK_TTT_APP] FOREIGN KEY([AppID])
REFERENCES [dbo].[APPOINTMENTS] ([Appointment_ID])
GO
ALTER TABLE [dbo].[TREATMENT] CHECK CONSTRAINT [FK_TTT_APP]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEES] ([Emp_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employee]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Patient] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[PATIENTS] ([Patient_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Patient]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[AMBULANCE]  WITH CHECK ADD CHECK  (([availability]='Maintenance' OR [availability]='On Duty' OR [availability]='Available'))
GO
ALTER TABLE [dbo].[Ambulance_Log]  WITH CHECK ADD  CONSTRAINT [CHK_Time_Order] CHECK  (([dropoff_time] IS NULL OR [dropoff_time]>[pickup_time]))
GO
ALTER TABLE [dbo].[Ambulance_Log] CHECK CONSTRAINT [CHK_Time_Order]
GO
ALTER TABLE [dbo].[Ambulance_Log]  WITH CHECK ADD CHECK  (([status]='Canceled' OR [status]='In Progress' OR [status]='Completed'))
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD CHECK  (([Appointment_status]='No_Show' OR [Appointment_status]='Cancelled' OR [Appointment_status]='Completed' OR [Appointment_status]='Scheduled'))
GO
ALTER TABLE [dbo].[Blood_Bank]  WITH CHECK ADD CHECK  (([blood_type]='O-' OR [blood_type]='O+' OR [blood_type]='AB-' OR [blood_type]='AB+' OR [blood_type]='B-' OR [blood_type]='B+' OR [blood_type]='A-' OR [blood_type]='A+'))
GO
ALTER TABLE [dbo].[Blood_Bank]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[DOCTORS]  WITH CHECK ADD CHECK  (([Years_of_Experience]>=(0)))
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [CHK_Hire_Date] CHECK  (([Hire_Date]>[E_DOB]))
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [CHK_Hire_Date]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD CHECK  (([E_gender]='F' OR [E_gender]='M'))
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD CHECK  (([No_Of_Shifts]>=(0)))
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD CHECK  (([Salary]>(0)))
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD CHECK  (([type]='Ointment' OR [type]='Injection' OR [type]='Liquid' OR [type]='Capsule' OR [type]='Tablet'))
GO
ALTER TABLE [dbo].[PATIENT_FEEDBACK]  WITH CHECK ADD CHECK  (([Satisfaction_rating]=(5) OR [Satisfaction_rating]=(4) OR [Satisfaction_rating]=(3) OR [Satisfaction_rating]=(2) OR [Satisfaction_rating]=(1)))
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD CHECK  (([P_gender]='F' OR [P_gender]='M'))
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [CHK_Dates] CHECK  (([end_date]>=[assignment_date]))
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [CHK_Dates]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD CHECK  (([status]='Under Maintenance' OR [status]='Occupied' OR [status]='Available'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_Type] CHECK  (([Employee_ID] IS NOT NULL AND [Patient_ID] IS NULL OR [Patient_ID] IS NOT NULL AND [Employee_ID] IS NULL OR [Employee_ID] IS NULL AND [Patient_ID] IS NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_Type]
GO
USE [master]
GO
